@import "reset";
@import "vars";
@import "mixins";

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 714px;
}

.calendar div {
  display: none;
  width: 100px;
  height: 100px;
  margin: 1px;
  background-color: #eee;
  border: 1px solid;
  transition: 0.5s;
}

@each $num in $numbers {
  .calendar-#{$num} {
    @for $i from 1 through $num {
      & :nth-child(#{$i}) {
        @include centered;
      }

      & :nth-child(#{$i})::before {
        content: "#{$i}";
      }

      & :nth-child(#{$i}):hover {
        @include hovered;
      }
    }
  }
}

@each $day, $size in $days {
  .calendar-#{$day} > div:first-child {
    margin-left: $size;
  }
}
