@import "variables";
@import "mixins";
@import "reset";

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 714px;
}

.calendar div {
  @include centered;
  width: 100px;
  height: 100px;
  margin: 1px;
  background-color: #eee;
  border: 1px solid;
  transition: 0.5s;
}

.calendar div:hover {
  @include hovered;
}

@for $i from 1 through 31 {
  .calendar-#{$i} {
    @for $k from 1 through $i {
      div:nth-child(#{$k})::after {
        content: "#{$k}";
      }
    }
  }
}

@for $i from 28 through 30 {
  .calendar-#{$i} {
    :nth-of-type(n + #{$i + 1}) {
      display: none;
    }
  }
}

@each $day, $size in $days {
  .calendar-#{$day} > div:first-child {
    margin-left: $size;
  }
}
