@import "mixins";

* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  @include centered;
  height: 100vh;
  margin: 0;
}
